/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Fenix|Lato:300,400,700);



/* --------------- Global/Default --------------- */

body {
	margin: 0px;
	padding: 0px;
	
	font-family: 'Lato', arial, verdana, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #14385d;
}

h1, h2 {
	padding: 0;
	
	font-family: 'Fenix', 'Times New Roman', Times, Georgia, serif;
	font-weight: normal;
}



/* --------------- Header --------------- */

header {
	width: 100%;
	background-color: #ddd;
	padding: 50px;
}

header h1 {
	font-size: 1.65em;
	
	margin: 0 0;
}

header h2 {
	margin: 10px 0px 0px;

	font-size: 1em;
	font-family: 'Lato', arial, verdana, sans-serif;
	font-weight: normal;
}

header p {
	margin: 0;
	
	font-style: italic;
	font-size: .7em;
}