/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Fenix|Lato:300,400,700);



/* --------------- Global/Default --------------- */

body {
	color: #14385d;
	font-family: 'Lato', arial, verdana, sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: 'Fenix', 'Times New Roman', Times, Georgia, serif;
	font-weight: 400;
}



/* --------------- Navigation --------------- */

nav ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

nav li {
	float: left;
	margin-right: 13.4680135%; /* 40px */
}

nav a {
	color: #14385d;
	display: inline-block;
	font-family: 'Fenix', 'Times New Roman', Times, Georgia, serif;
	padding-bottom: 3px;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 2px solid #185eaf;
	color: #185eaf;
	padding-bottom: 1px;
}

nav a:active {
	border-bottom: 2px solid #14385d;
	color: #14385d;
}



/* --------------- Header --------------- */

header {
	background-color: #ddd;
	background-image: url('../images/stitching.png'), url('../images/stitching.png'), url('../images/grey-texture.png');
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: left 10px, left bottom 10px, left top;
	border-bottom: 1px solid #a3a3a3;
	padding: 70px 0;
	text-shadow: 0 1px 1px #f5f5f5;
}

header div.center{
	background: url('../images/bg-logo-icon.png') no-repeat;
	height: 301px;
	margin: 0 auto;
	overflow: hidden;
	padding: 120px 0 20px 380px;
	width: 550px;
}

header div.content{
	display: inline;
	float: right;
	width: 54%; /* 297px */
}

header h1 {
	color: #fff;
	float: left;
	font-family: 'Lato', arial, verdana, sans-serif;
	font-size: 1.65em;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 23px;
	margin: 0;
	text-align: right;
	text-shadow: 0 0 5px rgba(255, 255, 255, .75);
}

header h1 span {
	color: #77afe4;
	font-size: .6em;
	font-weight: 200;
	letter-spacing: 3px;
	margin: 0 .55em 0 0; /* proportional to font-size property declared in body selector */
	text-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

header h2 {
	font-size: 1.65em;
	margin: 0;
}

header h3 {
	font-family: 'Lato', arial, verdana, sans-serif;
	font-size: 1em;
	font-weight: 400;
	margin: 10px 0 0;
}

header p {
	font-size: .7em;
	font-style: italic;
	margin: 0;
}



/* --------------- About --------------- */

#about {/* about properties */
	border: 1px solid #fff;
	padding: 50px 0 60px 0;
	text-shadow: 0 1px 1px #fff;
}

#about {/* about gradient */
	background: -moz-linear-gradient(left,  rgba(230,230,230,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(230,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(230,230,230,1)), color-stop(20%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(230,230,230,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 80%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(230,230,230,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 80%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(230,230,230,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 80%,rgba(230,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(230,230,230,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 80%,rgba(230,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6',GradientType=1 ); /* IE6-9 */

}

#about article.headline {
	margin: 0 auto;
	width: 650px;
}

#about h1 {
	font-size: 1.65em;
	margin: 0;
	text-align: center;
}


#about p.h1 {
	font-size: 1em;
	margin-top: 10px;
	text-align: center;
	
}

#gallery ul {
	background-color: rgba(0, 0, 0, .15);
	border-bottom: 1px solid #a3a3a3;
	border-top: 1px solid #a3a3a3;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 0;
	margin: 50px 0;
}

#gallery li {
	border-bottom: 1px solid #a3a3a3;
	border-top: 1px solid #a3a3a3;
	float: left;
	width: 12.5%;
}

#gallery li img {
	display: block;
	width: 100%;
}

#about article.content {
	-moz-column-count: 3; /* Firefox */
	-webkit-column-count: 3; /* Safari and Chrome */
	column-count: 3;
	margin: 0 auto;
	width: 900px;
}

#about h2 {
	font-size: 1em;
	margin: 0;
}

#about p {
	font-size: .8em;
}


/* --------------- Footer --------------- */

footer {
	bottom: 0;
	position: fixed;
	text-shadow: 0 1px 1px #f5f5f5;
	width: 100%;
}

#fade {/* fade properties */
	height: 30px;
}

#fade {/* fade gradient */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

footer nav ul {
	background: #ddd url('../images/footer-logo-icon.png') 15px 50% no-repeat;
	border-top: 1px solid #a3a3a3;
	font-size: .75em;
	margin: 0;
	overflow: hidden;
	padding: 5px 0 5px 60px;
	
}

footer nav li {
	margin-right: 30px;
	
}

footer nav a {
	padding: 5px 0;
	
}

footer nav .top-button {/* top-button properties */
	border: 1px solid #a3a3a3;
	border-radius: 2px;
	padding: 5px;
}

footer nav .top-button {/* top-button gradient */
	background: -moz-linear-gradient(top,  rgba(191,191,191,0) 0%, rgba(191,191,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,0)), color-stop(100%,rgba(191,191,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(191,191,191,0) 0%,rgba(191,191,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(191,191,191,0) 0%,rgba(191,191,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(191,191,191,0) 0%,rgba(191,191,191,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(191,191,191,0) 0%,rgba(191,191,191,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfbfbf', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
}

footer nav .top-button:hover {/* top-button:hover properties */
	padding: 5px;
}

footer nav .top-button:hover {/* top-button:hover gradient */
	background: -moz-linear-gradient(top,  rgba(204,204,204,0) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,0)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


}

footer nav .top-button:active {/* top-button:active gradient */
	background: -moz-linear-gradient(top,  rgba(191,191,191,1) 0%, rgba(191,191,191,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,1)), color-stop(100%,rgba(191,191,191,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(191,191,191,1) 0%,rgba(191,191,191,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#00bfbfbf',GradientType=0 ); /* IE6-9 */
}